<div>
	<div class="container">
        <div class="row">
            <h5>
                Message Modal
            </h5>
            <div class="mt-3 col-lg-12 row">
                <a class="btn btn-primary" href="#" [routerLink]="[{ outlets: { modal: ['message'] } }]">A yes-no
                    message</a>
            </div>
        </div>
        <div class="row">
            <h5>
                Message Modal
            </h5>
            <div class="mt-3 col-lg-12 row">
                <a class="btn btn-primary" href="#" [routerLink]="[{ outlets: { modal: ['alert'] } }]">An alert
                    message</a>
            </div>
        </div>
	</div>
	<router-modal></router-modal>
</div>